parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$entityManager of class App\\Competition\\Infrastructure\\Persistence\\Doctrine\\DoctrinePlayerRepository constructor expects Doctrine\\ORM\\EntityManagerInterface, object given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Competition/Infrastructure/Http/LoginControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Competition/Infrastructure/Http/LoginControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Competition/Infrastructure/Http/LoginControllerTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Competition/Infrastructure/Http/LoginControllerTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Competition/Infrastructure/Http/RegisterPlayerControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Competition/Infrastructure/Http/RegisterPlayerControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Competition/Infrastructure/Http/RegisterPlayerControllerTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Competition/Infrastructure/Http/RegisterPlayerControllerTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Competition/Infrastructure/Http/RegisterTeamControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Competition/Infrastructure/Http/RegisterTeamControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Competition/Infrastructure/Http/RegisterTeamControllerTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Competition/Infrastructure/Http/RegisterTeamControllerTest.php

		-
			message: '#^Cannot access offset ''organizationId'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Organization/Infrastructure/Http/ConfirmOrganizationCheckoutControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/ConfirmOrganizationCheckoutControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/ConfirmOrganizationCheckoutControllerTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/ConfirmOrganizationCheckoutControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/InitiateOrganizationCheckoutControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/InitiateOrganizationCheckoutControllerTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Organization/Infrastructure/Http/InitiateOrganizationCheckoutControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/LoginControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/LoginControllerTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Organization/Infrastructure/Http/LoginControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/RegisterOrganizerControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/RegisterOrganizerControllerTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Organization/Infrastructure/Http/RegisterOrganizerControllerTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
